[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "markovmix"]
	path = markovmix
	url = https://github.com/zhuxr11/markovmix
[submodule "roclang"]
	path = roclang
	url = https://github.com/zhuxr11/roclang
[submodule "wordPuzzleR"]
	path = wordPuzzleR
	url = https://github.com/zhuxr11/wordpuzzler
