[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cbbinom"]
	path = cbbinom
	url = https://github.com/zhuxr11/cbbinom
[submodule "hypergeo2"]
	path = hypergeo2
	url = https://github.com/zhuxr11/hypergeo2
[submodule "markovmix"]
	path = markovmix
	url = https://github.com/zhuxr11/markovmix
[submodule "mineSweepR"]
	path = mineSweepR
	url = https://github.com/zhuxr11/minesweepr
[submodule "roclang"]
	path = roclang
	url = https://github.com/zhuxr11/roclang
[submodule "wordPuzzleR"]
	path = wordPuzzleR
	url = https://github.com/zhuxr11/wordpuzzler
